/* more spacing for bookmark bar */
#PersonalToolbar {
    margin: 0 0 4px 0;
}

/* hide tab bar */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar>.toolbar-items {
    opacity: 0;
    pointer-events: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

/* leaving 15px for dragging whole window by mouse */
#titlebar {
    appearance: none !important;
    height: var(--titlebar-height);
}

/* fix for main menu calling by Alt button */
#titlebar>#toolbar-menubar {
    margin-top: 10px;
}

:root[privatebrowsingmode="temporary"] .accessibility-indicator,
.private-browsing-indicator {
    display: none !important;
}

/* blend windows control background color with toolbar background color */
#navigator-toolbox {
	background-color: var(--toolbar-bgcolor) !important;
}

/* move minimize/restore/close buttons to empty space */
toolbar#nav-bar {
    margin-right: var(--windows-control-left) !important;
}

#TabsToolbar>.titlebar-buttonbox-container {
    display: block;
    position: absolute;
    top: var(--windows-control-top);
    right: 1px;
}

:root[tabsintitlebar][sizemode="normal"] #TabsToolbar>.titlebar-buttonbox-container {
    top: calc(var(--windows-control-top) - 5px);
}

/* blend titlebar color with tabpanel */
#titlebar {
    background: var(--toolbar-bgcolor);
}

:root[tabsintitlebar][sizemode="normal"] #titlebar {
    max-height: 0px !important;
}

/* blend bookmark bar border color with tabpanel */
#navigator-toolbox {
    border-bottom: 1px var(--toolbar-bgcolor) !important;
}

#PersonalToolbar {
    background-color: var(--toolbar-bgcolor);
}

/* collapse by default */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    z-index: 1000 !important;
    position: relative !important;
    min-width: var(--sidebar-collapsed-width) !important;
    max-width: var(--sidebar-collapsed-width) !important;
}

/* inner width = expanded width & move inner to only show initial-width long section */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
    position: absolute !important;
    min-width: var(--sidebar-width) !important;
    max-width: var(--sidebar-width) !important;
    width: var(--sidebar-width) !important;
    transform: translateX(calc(var(--sidebar-collapsed-width) - var(--sidebar-width)));
    transition: all var(--transition-time) var(--ease-out);
}

/* move inner to show entire sidebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar:hover {
    transform: translateX(0) !important;
    box-shadow: 2px 0 33px -3px var(--sidebar-shadow-color);
}

#sidebar-box[sidebarcommand="viewBookmarksSidebar"] #sidebar {
    transform: translateX(0) !important;
    box-shadow: 2px 0 33px -3px var(--sidebar-shadow-color);
}

/* hide sidebar header, when using Tree Style Tab */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
}

toolbar {
    border: none !important;
}

/* hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-splitter {
    display: none !important;
}

.sidebar-splitter {
    display: none !important;
}