#PersonalToolbar {
	margin: -40px 0 6px 0 !important;
	opacity: 0;
	transition: all var(--transition-time) var(--ease-out) !important;
}

toolbox[id="navigator-toolbox"]:hover #PersonalToolbar {
	opacity: 1;
	margin: 0 !important;
}

#PlacesToolbarItems {
	margin: 7px 4px !important;
}

toolbarbutton[class="bookmark-item"]:not(:hover) {
	opacity: 0.8 !important;
}