:root {
    --background: #2a2932;
    --active: #5a5a65;
    --hover: #43434d;
    --mask: #c8c8c8;
    --label: #fff;

    /* loading icon color */
    --throbber-color: var(--mask);

    /* border radius of tabs */
    --tab-border-radius: 7px;

    /* duration of different animations [0s: turn all animations off] */
    --animation-duration: 200ms;

    /* spacing between tabs. [<15px: compact tabs] */
    --spacing: 8px;

    /* distance between tabs, and left-right edges of sidebar*/
    --distance-from-edge: 10px;

    /* should be left alone. with hover sidebar, if text is visible in collapsed status, increase this */
    --hover-text-spacing: 0.4;

    --ease-in: cubic-bezier(0.32, 0, 0.67, 0);
    --ease-out: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);

    --collapsed-width: 60px;

    --contextual-identity-color-blue: #63B3ED;
    --contextual-identity-color-orange: #F6AD55;
    --contextual-identity-color-green: #68D391;
    --contextual-identity-color-pink: #F687B3;
}

/************UNCUSTOMIZED CSS************/
#tabbar-container #tabbar {
    margin-bottom: 15px !important;
}

:root,
#background {
    background: var(--background) !important;
}

#all-tabs {
    margin: 10px var(--distance-from-edge);
}

tab-item:not(.collapsed) {
    margin-top: var(--spacing);
    border-radius: var(--tab-border-radius);
    border: none !important;
    padding: 5px 0 5px 0;
}

tab-item.collapsed {
    height: 0;
    margin: 0 !important;
    padding: 0 !important;
}


tab-item tab-favicon {
    left: 0;
    transition: transform calc(var(--animation-duration)*2) var(--ease-out);
}

.highlighter {
    display: none !important;
}

tab-item .label {
    color: var(--label) !important;
    opacity: 0.5;
    padding: 6px 0 9px;
}

tab-item .twisty:before {
    background: #fff !important;
}

tab-item.active .label {
    color: var(--label) !important;
    opacity: 1;
}

tab-item.active {
    background: var(--active) !important;
}


tab-item:not(.active).highlighted {
    background: var(--active) !important;
}

tab-item:not(active):hover {
    background: var(--hover);
}

tab-item:hover tab-closebox {
    right: 10px;
    opacity: 1;
}

tab-item:not(pinned) tab-closebox {
    position: absolute;
    margin-top: 2px;
    height: 20px;
    width: 20px;
    right: -30px;
    border-radius: 50%;
    padding-top: 2px;
    padding-left: 2px;
    background: var(--mask);
    transition: all var(--animation-duration) var(--ease-out);
}

.sound-button:after {
    background: var(--mask) !important;
    margin-right: 5px;
}

.counter {
    color: var(--label) !important;
    background: var(--active) !important;
    border-radius: 7px;
    margin: 2px 4px 2px 0px;
    padding: 0 4px;
    padding-bottom: 2px;
    order: -1 !important;
}

.counter:before,
.counter:after {
    content: "";
}

/********LEFT CONTENT TAB(HOVER)*************/

:root.left tab-item {
    padding-left: 0px;
}

:root.left tab-item tab-favicon {
    order: 10 !important;
    margin-right: calc(var(--collapsed-width)*0.25) !important;
    transform: scale(120%) translateX(0px) !important;
}

:root.left tab-item .sound-button:after {
    transform: translateX(0px) !important;
    transition: all calc(var(--animation-duration)*2.2) var(--ease-out) !important;
}

:root.left tab-item .label {
    transform: translateX(0px);
    margin-right: calc(var(--collapsed-width)*var(--hover-text-spacing)) !important;
    transition: all var(--animation-duration) var(--ease-out);
}

:root.left tab-item:not(.pinned):hover tab-favicon {
    transform: scale(120%) translateX(-20px) !important;
}

:root.left tab-item:not([data-child-ids]):hover .label {
    transform: translateX(-10px) !important;
}

:root.left tab-item:hover .sound-button:after {
    transform: translateX(-25px) !important;
}

:root.left tab-item[data-child-ids] .twisty {
    margin-left: 5px !important;
}

/***********************************/


.tab[data-current-favicon-uri="undefined"] .favicon .favicon-default::before {
    background: url("chrome://branding/content/identity-icons-brand.svg") no-repeat center !important;
    mask: none !important;
}

/***********NEW TAB BUTTON**********/

.newtab-button-box {
    border: none !important;
    margin: 0 50px;
}

.newtab-button {
    fill: white !important;
    border: none !important;
    border-radius: 8px;
    padding: 8px 0 !important;
    margin: 0 5px;
}

.newtab-action-selector-anchor {
    border: none !important;
    margin-right: 10px;
    margin-top: 3px;
}

.newtab-button:hover {
    background: var(--hover) !important;
}

:root.simulate-svg-context-fill .newtab-button::after {
    background-color: var(--mask);
}

:root.simulate-svg-context-fill .newtab-action-selector-anchor::after,
:root.simulate-svg-context-fill .contextual-identities-selector-anchor::after,
:root.simulate-svg-context-fill #subpanel-selector-anchor::after {
    background: var(--mask);
    margin: -4px;
}

/**********PINNED TAB***************/

tab-item.pinned {
    margin: 15px 0 0 15px !important;
    padding: 0px !important;
    transition: all 0.1s var(--ease-out);
}

/**********CONTAINERS***************/

.contextual-identity-marker {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
}


tab-item.active .contextual-identity-marker {
    display: none !important;
}

.contextual-identity-firefox-container-1:not(.active),
.contextual-identity-firefox-container-2:not(.active),
.contextual-identity-firefox-container-3:not(.active),
.contextual-identity-firefox-container-4:not(.active) {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

tab-item.active.contextual-identity-firefox-container-1 {
    background: linear-gradient(to right, #3182CE, #0BC5EA) !important;
}

tab-item.active.contextual-identity-firefox-container-2 {
    background: linear-gradient(to right, #DD6B20, #F56565) !important;
}

tab-item.active.contextual-identity-firefox-container-3 {
    background: linear-gradient(to right, #38A169, #38B2AC) !important;
}

tab-item.active.contextual-identity-firefox-container-4 {
    background: linear-gradient(to right, #D53F8C, #9F7AEA) !important;
}

/***********************************/

#all-tabs {
    border: none !important;
}